@import url("https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@400;600&display=swap");

.workbody {
  font-family: "Saira Extra Condensed", sans-serif;
  height: 100vh;
  font-size: 130px;
  font-weight: 600;
}

.title {
  display: flex;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  margin-left: 10%;
}

.block {
  height: 10px;
  background-color: black;
  width: 20px;
  margin-left: 10%;
  margin-top: -50px;
}

.oriworks {
  margin-left: 10%;
  font-size: 80px;
}

.heading {
  margin-top: 2%;
  font-size: 50px;
}

.galldesc {
  font-size: 20px;
}

.Gallery {
  display: block;
  width: 80%;
  margin: 0 5%;
}

.gallimages {
  display: flex;

  justify-content: center;
}

.gall1 {
  margin-right: 50%;
  margin-top: 10%;
  width: 40%;
}

.gall2 {
  margin-left: 50%;
  margin-top: 10%;
  width: 40%;
}

.gall3 {
  width: 40%;
}
